<mat-card>
    <div class="title-card-pritaje">
        <mat-icon class="icon-title-card-peritaje">car_repair</mat-icon>
        <h2 class="title-bloques-cb">Elementos A - Z</h2>
    </div>
</mat-card>
<mat-card>
    <div class="scroll-table" *ngIf="listaElementos.length > 0">
        <table class=" demo-table table-form-peritaje">

            <tbody>


                <tr *ngFor="let elementoAz of listaElementos">
                    <div class="tr-intern" *ngIf="elementoAz.valor_def == 1">

                        <mat-radio-group aria-label="Cojineria" required name="{{elementoAz.elemento}}" [(ngModel)]="elementoAz.est">
                            <td class="label-td">
                                <label class="item-label cbradio-label-parametrizado">{{elementoAz.elemento}}</label>
                            </td>

                            <td class="td-radios">
                                <div class="table-radios">
                                    <mat-radio-button class="cb-radio-button" [value]="0">No Tiene</mat-radio-button>
                                    <mat-radio-button class="cb-radio-button" [value]="1">Malo</mat-radio-button>
                                </div>

                            </td>
                        </mat-radio-group>

                        <td class="td-select">
                            <mat-form-field>
                                <mat-label>Valor Aprox.</mat-label>
                                <input type="number" matInput [(ngModel)]="elementoAz.valor" />
                            </mat-form-field>
                        </td>

                    </div>
                    <div class="tr-intern" *ngIf="elementoAz.valor_def == 2">

                        <mat-radio-group aria-label="Cojineria" required name="{{elementoAz.elemento}}" [(ngModel)]="elementoAz.est">
                            <td class="label-td">
                                <label class="item-label cbradio-label-parametrizado">{{elementoAz.elemento}}</label>
                            </td>

                            <td class="td-radios">
                                <div class="table-radios">
                                    <mat-radio-button class="cb-radio-button" [value]="2">Leve</mat-radio-button>
                                    <mat-radio-button class="cb-radio-button" [value]="3">Fuerte</mat-radio-button>
                                </div>

                            </td>
                        </mat-radio-group>

                        <td>
                            <mat-form-field>
                                <mat-label>Valor Aprox.</mat-label>
                                <input matInput [(ngModel)]="elementoAz.valor" />
                            </mat-form-field>
                        </td>
                    </div>
                    <div class="tr-intern" *ngIf="elementoAz.valor_def == 3">

                        <mat-radio-group aria-label="Cojineria" required name="{{elementoAz.elemento}}" [(ngModel)]="elementoAz.est">
                            <td class="label-td">
                                <label class="item-label cbradio-label-parametrizado">{{elementoAz.elemento}}</label>
                            </td>

                            <td class="td-radios">
                                <div class="table-radios">
                                    <mat-radio-button class="cb-radio-button" [value]="4">OK</mat-radio-button>
                                    <mat-radio-button class="cb-radio-button" [value]="5">Bajo</mat-radio-button>
                                </div>
                            </td>
                        </mat-radio-group>

                        <td>
                            <mat-form-field>
                                <mat-label>Valor Aprox.</mat-label>
                                <input matInput [(ngModel)]="elementoAz.valor" />
                            </mat-form-field>
                        </td>
                    </div>
                    <div class="tr-intern" *ngIf="elementoAz.valor_def == 4">

                        <mat-radio-group aria-label="Cojineria" required name="{{elementoAz.elemento}}" [(ngModel)]="elementoAz.est">
                            <td class="label-td">
                                <label class="item-label cbradio-label-parametrizado">{{elementoAz.elemento}}</label>
                            </td>

                            <td class="td-radios">
                                <div class="table-radios">
                                    <mat-radio-button class="cb-radio-button" [value]="7">Si</mat-radio-button>
                                    <mat-radio-button class="cb-radio-button" [value]="6">No</mat-radio-button>
                                </div>
                            </td>
                        </mat-radio-group>

                        <td class="td-select">
                            <mat-form-field>
                                <mat-label>Valor Aprox.</mat-label>
                                <input matInput [(ngModel)]="elementoAz.valor" />
                            </mat-form-field>
                        </td>
                    </div>

                </tr>

            </tbody>
        </table>
    </div>
</mat-card>

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div class="container-save">
    <button class="back-btn" mat-raised-button (click)="atras()"><mat-icon>keyboard_backspace</mat-icon>Atras</button>
    <button mat-raised-button class="btn-save" (click)="guardarFormulario()"><mat-icon class="icon-title-card-peritaje">save</mat-icon>Guardar</button>
</div>