<mat-card class="example-card busqueda-peritaje">
    <mat-card-title class="title-card-pritaje">
        <mat-icon class="icon-title-card-peritaje">manage_search</mat-icon>
        <h2>Buscar Formatos de Peritaje</h2>
    </mat-card-title>
    <mat-card-subtitle>- Ingrese una Placa o VIN para encontrar resultados -</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="vin-placa">
            <mat-form-field appearance="fill">
                <mat-label>Placa:</mat-label>
                <input matInput placeholder="placa" [(ngModel)]="placa" #placaInput (keyup.enter)="onEnter()" (click)="vin = ''" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>VIN:</mat-label>
                <input matInput placeholder="vin" [(ngModel)]="vin" #vinInput (keyup.enter)="onEnter()" (click)="placa = ''" />
            </mat-form-field>
            <button mat-raised-button (click)="onEnter()" class="btns-search-peritaje"> <mat-icon class="icon-title-card-cb">search</mat-icon>Buscar</button>
        </div>

        <div class="demo-button-container btns-form-peritaje">

            <button mat-raised-button class="demo-button btns-search-peritaje" (click)="abrirParametrizacion()">
                <mat-icon>settings_suggest</mat-icon>  Parametrización 
          </button>

            <!-- <button mat-raised-button class="demo-button btns-search-peritaje" [disabled]="disabledBtnEditar" (click)="editarFormulario()">
                    <mat-icon>edit_note</mat-icon>  Editar <span>Formulario</span>
              </button> -->

            <button mat-raised-button class="demo-button btns-search-peritaje" [disabled]="disabledBtnCrear" (click)="nuevoFormulario()">
                <mat-icon>fact_check</mat-icon> Crear <span>Formulario</span>
              </button>
        </div>

        <div class="scroller-table">
            <table mat-table class=" demo-table table-form-peritaje" [dataSource]="formularios" *ngIf="formularios.length > 0">
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef>ID.</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>
                <ng-container matColumnDef="Fecini">
                    <th mat-header-cell *matHeaderCellDef>Fecha Inicial</th>
                    <td mat-cell *matCellDef="let element">{{element.fecini | date:'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="Fecfin">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let element">{{element.fecfin | date:'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="Califica">
                    <th mat-header-cell *matHeaderCellDef>Calificación</th>
                    <td mat-cell *matCellDef="let element">{{element.califica}}</td>
                </ng-container>
                <ng-container matColumnDef="Editar">
                    <th mat-header-cell *matHeaderCellDef>Edición</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Editar Formulario" class="ico-table" (click)="editarFormulario(element)">edit</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="row-peritaje" mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of forms">
            </mat-paginator> -->
        </div>
    </mat-card-content>

</mat-card>