$main-color: #b50411;
.title-card-pritaje {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2em;
    h2 {
        margin-bottom: -3px;
        font-size: 18px;
        text-transform: uppercase;
    }
    .icon-title-card-peritaje {
        color: $main-color;
        margin-right: 0.5em;
    }
}

.busqueda-peritaje {
    margin: 1.2em 1.2em;
    mat-card-subtitle {
        display: flex;
        justify-content: center;
    }
    mat-card-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .vin-placa {
            margin-top: 2em;
            display: flex;
            flex-wrap: wrap;
            mat-form-field {
                margin-right: 1.2em;
            }
        }
    }
}