<mat-card class="card-parametrizacion">
    <mat-card-title class="title-card-pritaje">
        <mat-icon class="icon-title-card-peritaje">fact_check</mat-icon>
        <h2>Parametrización de partes y elementos AZ</h2>
    </mat-card-title>
    <mat-card-subtitle>- Elija una opción de parametrización de partes o elementos según lo requiera -</mat-card-subtitle>
    <mat-divider></mat-divider>

    <mat-card-content>
        <mat-button-toggle-group name="parametrizacion" [(ngModel)]="parametrizacion" class="btns-parametrizacion">
            <mat-button-toggle value="partes" (click)="toogleTagPartes()">
                <mat-icon class="icon-title-card-peritaje">format_color_fill</mat-icon>Parametrización Partes</mat-button-toggle>
            <mat-button-toggle value="elementos" (click)="toogleTagPartes()">
                <mat-icon class="icon-title-card-peritaje">car_repair</mat-icon>Parametrización Elementos</mat-button-toggle>
        </mat-button-toggle-group>

        <div class="container-elementosAz">
            <div class="header-btn-new-parametrizacion">
                <div class="title-card-pritaje">
                    <mat-icon class="icon-title-card-peritaje" *ngIf="parametrizacion == 'partes'">format_color_fill</mat-icon>
                    <mat-icon class="icon-title-card-peritaje" *ngIf="parametrizacion == 'elementos'">car_repair</mat-icon>
                    <h2 class="title-bloques-cb" *ngIf="parametrizacion == 'partes'">Estado Pintura</h2>
                    <h2 class="title-bloques-cb" *ngIf="parametrizacion == 'elementos'">Elementos A-Z</h2>
                </div>
                <button class="new_params" matTooltipPosition="above" mat-tooltip-panel-above matTooltip="Crear {{parametrizacion}}" *ngIf="parametrizacion" (click)="openModalEdit(nuevoMaestro,false)" mat-raised-button><mat-icon>fact_check</mat-icon> Nuevo</button>

            </div>

            <div class="container-parametrizacion">
                <p class="parametrizacion-descript" *ngIf="parametrizacion == 'partes'">Edite o elimine partes del formulario.</p>
                <p class="parametrizacion-descript" *ngIf="parametrizacion == 'elementos'">Edite o elimine elementos A-Z del formulario.</p>
                <div class="maestros-container">
                    <mat-card *ngFor="let maestro of listaMaestros; index as i" class="maestro-container">
                        <div class="card-header">
                            <mat-card-title class="card-title card-title-parametrizacion">{{maestro.descripcion}}</mat-card-title>
                            <div class="card-header-buttons">
                                <button mat-button class="header-button" matTooltipPosition="above" matTooltip="Editar" (click)="openModalEdit(maestro, true)"><mat-icon class="icon-button-header">edit</mat-icon></button>
                                <button mat-button class="header-button" matTooltipPosition="above" matTooltip="Borrar" (click)="eliminarMaestro(i)"><mat-icon class="icon-button-header">delete</mat-icon></button>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="card-content" *ngIf="maestro.valor_def == 1">
                                <!-- <p>
                                    <mat-icon>check_box_outline_blank</mat-icon>&nbsp;Malo</p> -->
                                <p>
                                    <mat-icon>radio_button_checked</mat-icon>&nbsp;No tiene</p>
                                <p>
                                    <mat-icon>radio_button_unchecked</mat-icon>&nbsp;Malo</p>
                            </div>
                            <div class="card-content" *ngIf="maestro.valor_def == 2">
                                <p>
                                    <mat-icon>radio_button_checked</mat-icon>&nbsp;Leve</p>
                                <p>
                                    <mat-icon>radio_button_unchecked</mat-icon>&nbsp;Fuerte</p>
                            </div>
                            <div class="card-content" *ngIf="maestro.valor_def == 3">
                                <p>
                                    <mat-icon>radio_button_checked</mat-icon>&nbsp;OK</p>
                                <p>
                                    <mat-icon>radio_button_unchecked</mat-icon>&nbsp;Bajo</p>
                            </div>
                            <div class="card-content" *ngIf="maestro.valor_def == 4">
                                <p>
                                    <mat-icon>radio_button_checked</mat-icon>&nbsp;Si</p>
                                <p>
                                    <mat-icon>radio_button_unchecked</mat-icon>&nbsp;No</p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>