$main-color: #b50411;
.title-card-pritaje {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2em;
    h2 {
        margin-bottom: -3px;
        font-size: 18px;
        text-transform: uppercase;
    }
    .icon-title-card-peritaje {
        color: $main-color;
        margin-right: 0.5em;
    }
}

.footer-button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 0;
    button {
        background-color: $main-color;
        color: #fff;
        padding: 0 0.6em;
    }
    .back-btn mat-icon {
        margin-right: 0.3em;
    }
}

.card-parametrizacion {
    margin: 1.2em 1.2em;
    mat-card-subtitle {
        display: flex;
        justify-content: center;
    }
    mat-card-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .btns-parametrizacion {
            margin: 1.5em 0;
            mat-button-toggle mat-icon {
                margin-right: 0.3em;
            }
            .mat-button-toggle-checked {
                background-color: #b50411;
                color: #fafafa;
            }
        }
        div.estados-pintura-container,
        div.container-elementosAz {
            display: flex;
            flex-direction: column;
            width: 100%;
            div.header-btn-new-parametrizacion {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }
}

h4.card-title.card-title-parametrizacion {
    display: inline-block;
    margin: 0.2em 0;
}

th.mat-header-cell.cdk-header-cel {
    color: #b50411;
    text-transform: uppercase;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.option-elements {
    display: flex;
    // justify-content: center;
    padding: 0.5em;
    p {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
}

.new_params {
    background-color: $main-color;
    color: #fff;
    padding: 0 1em 0 0.5em;
}

.header-icon-modal {
    width: 100px;
}

.mat-b-success {
    background-color: #2cae94;
    color: white;
}

.mat-b-warning {
    background-color: $main-color;
    color: white;
}

.close-div-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.container-parametrizacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    p.parametrizacion-descript {
        margin-top: 10px;
        margin-left: 0.5em;
        width: 95%;
    }
}

.card-title {
    max-width: 200px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header-buttons {
    margin-left: 25px;
}

.header-button {
    min-width: 30px;
    padding: 0 5px;
}

.card-content p {
    display: flex;
    align-items: center;
    margin: 3px 9px;
}

.card-content {
    display: flex;
}

mat-card.mat-card.mat-focus-indicator.maestro-container {
    padding-bottom: 8px;
}

.maestros-container {
    // display: flex;
    // flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    table {
        width: 90%;
        border: none;
        tr.ng-star-inserted td {
            // border: solid 1px #ddd;
            // padding: 0.5em;
            padding: 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
        tr {
            padding: 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
    }
}

.table-form-peritaje tr td {
    vertical-align: middle;
    text-align: center;
    // border: 1px solid #ddd;
    // border-radius: 4px;
}

.table-form-peritaje tr td {
    border-bottom-color: rgba(0, 0, 0, 0.12);
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

tr.mat-header-row {
    height: 56px;
}

.maestro-container {
    margin: 10px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 25%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.card-title-parametrizacion {
    font-size: 15px;
    text-decoration: underline;
    text-decoration-color: #b50411;
    text-decoration-thickness: from-font;
}

.header-button .icon-button-header {
    font-size: 18px;
    color: $main-color;
}

@media(max-width: 520px) {
    .btns-parametrizacion mat-button-toggle .icon-title-card-peritaje {
        display: none;
    }
    .maestros-container {
        justify-content: center;
        .maestro-container {
            width: 70%;
        }
    }
    .card-parametrizacion {
        mat-card-title,
        mat-card-subtitle {
            text-align: center;
        }
    }
}