<mat-card class="bloque-cb-1 mat-elevation-z1">
    <div class="form-group-cb">
        <section class="example-section radio-options-cb rbtn-b1 rbtn-initial">
            <label class="cbradio-group-label">Calificación:</label>
            <mat-radio-group aria-label="Calificación" [(ngModel)]="shared.formulario.califica">
                <mat-radio-button class="formulario-required cb-radio-button" name="califica" [value]="'A'">A</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="'B'">B</mat-radio-button>
            </mat-radio-group>
            <mat-hint>* Campo requerido</mat-hint>
        </section>

        <section class="example-section radio-options-cb rbtn-b1 rbtn-initial">
            <label class="cbradio-group-label">Prueba de Ruta:</label>
            <mat-radio-group aria-label="Prueba de Ruta" required [(ngModel)]="shared.formulario.prueba_ruta">
                <mat-radio-button class="formulario-required cb-radio-button" name="prueba_ruta" [value]="1">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="0">No</mat-radio-button>
            </mat-radio-group>
        </section>

        <mat-form-field>
            <mat-label>Fecha Final:</mat-label>
            <input matInput [matDatepicker]="datepicker" [(ngModel)]="shared.formulario.fecfin">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Nombre Inspector:</mat-label>
            <input matInput placeholder="Nombre Inspector" name="Id_usu_inspector">
        </mat-form-field>



        <mat-form-field>
            <mat-label>Marca:</mat-label>
            <input matInput placeholder="Marca" class="encabezado-required" name="marca" [ngModel]="shared.encabezados.marca" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Linea:</mat-label>
            <input matInput placeholder="Linea" class="encabezado-required" name="linea" [ngModel]="shared.encabezados.linea" disabled>
        </mat-form-field>



        <mat-form-field>
            <mat-label>Calificación Estado:</mat-label>
            <mat-select [(ngModel)]="shared.formulario.califica2" name="Califica2">
                <mat-option *ngFor="let calificacion of calificaciones" [value]="calificacion.value">
                    {{calificacion.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="a">
            <mat-label>Matriculado en:</mat-label>
            <input matInput placeholder="Lugar Matricula" class="encabezado-required" name="lugar_matricula" [(ngModel)]="shared.encabezados.lugar_matricula">
            <mat-hint>* Campo requerido</mat-hint>
        </mat-form-field>

        <mat-form-field class="b">
            <mat-label>Capacidad Sillas:</mat-label>
            <input matInput type="number" placeholder="Capacidad sillas" class="encabezado-required" name="capacidad_sillas" [(ngModel)]="shared.encabezados.capacidad_sillas">
        </mat-form-field>


        <mat-form-field>
            <mat-label>Cilindraje:</mat-label>
            <input matInput id="cilindrajeInput" placeholder="Cilindraje" class="encabezado-required" name="cilindraje" [(ngModel)]="shared.encabezados.cilindraje">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Color:</mat-label>
            <input matInput placeholder="Color" class="encabezado-required" name="color" [(ngModel)]="shared.encabezados.color">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Referencia:</mat-label>
            <input matInput placeholder="Referencia" class="encabezado-required" name="referencia" [(ngModel)]="shared.encabezados.referencia">
            <mat-hint>* Campo requerido</mat-hint>
        </mat-form-field>
    </div>
    <div class="form-group-cb">
        <mat-form-field>
            <mat-label>Modelo:</mat-label>
            <input matInput placeholder="Modelo" class="encabezado-required" name="modelo" [ngModel]="shared.encabezados.modelo" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Combustible:</mat-label>
            <mat-select name="combustible" [(ngModel)]="shared.encabezados.combustible">
                <mat-option *ngFor="let combustible of combustibles" [value]="combustible.value">
                    {{combustible.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-card>
<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- Tercer Bloque -->
<div class="grid-peritaje grid-container">
    <mat-card class="bloque-cb-2 mat-elevation-z1 a">
        <table class="demo-table table-form-peritaje">

            <tbody>
                <tr *ngFor="let i of optionsRadios; let c = index">
                    <section class="example-section radio-options-table">
                        <mat-radio-group required name="{{i.name}}" [(ngModel)]="shared.encabezados[i.name]">
                            <td class="label-td {{i.name}}">
                                <label class="cbradio-group-label example-margin">{{i.label}}:</label>
                            </td>

                            <td>
                                <mat-radio-button class="cb-radio-button" [value]="i.option1">{{i.optionTitle1}}</mat-radio-button>
                            </td>
                            <td>
                                <mat-radio-button class="cb-radio-button" [value]="i.option2">{{i.optionTitle2}}</mat-radio-button>
                            </td>
                        </mat-radio-group>
                    </section>
                </tr>



            </tbody>
        </table>

    </mat-card>
    <mat-card class="card-peritaje-fields b">
        <div class="form-group-cb-alt">
            <mat-form-field>
                <mat-label>Nº de Airbag:</mat-label>
                <input matInput type="number" placeholder="Nº de Airbag" class="encabezado-required" name="no_airbags" [(ngModel)]="shared.encabezados.no_airbags">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nº de Rin:</mat-label>
                <input matInput type="number" placeholder="Nº de Rin" class="encabezado-required" name="no_rin" [(ngModel)]="shared.encabezados.no_rin">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Kilometraje Actual:</mat-label>
                <input matInput id="kmInput" type="number" placeholder="Kilometraje Actual" class="encabezado-required" name="km" [(ngModel)]="shared.encabezados.km" />
                <mat-hint>* Campo requerido</mat-hint>
            </mat-form-field>



            <mat-form-field>
                <mat-label>Valor Reclamo:</mat-label>
                <input matInput type="number" placeholder="Valor Reclamo" class="encabezado-required" name="valor_reclamo_aseg" [(ngModel)]="shared.encabezados.valor_reclamo_aseg">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Marca Radio:</mat-label>
                <input matInput placeholder="Marca Radio" class="encabezado-required" name="marca_radio" [(ngModel)]="shared.encabezados.marca_radio">
                <mat-hint>* Campo requerido</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Marca Llantas:</mat-label>
                <input matInput placeholder="Marca Llantas" class="encabezado-required" name="marca_llantas" [(ngModel)]="shared.encabezados.marca_llantas">
                <mat-hint>* Campo requerido</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Marca Batería:</mat-label>
                <input matInput placeholder="Marca Batería" class="encabezado-required" name="marca_bateria" [(ngModel)]="shared.encabezados.marca_bateria">
                <mat-hint>* Campo requerido</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Lugar Mantenimiento:</mat-label>
                <input matInput placeholder="Lugar Mantenimiento" class="encabezado-required" name="lugar_mante" [(ngModel)]="shared.encabezados.lugar_mante">
                <mat-hint>* Campo requerido</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Lugar Cambio Correa:</mat-label>
                <input matInput placeholder="Donde Cambio Correa:" name="lugar_cambio_correa" [(ngModel)]="shared.encabezados.lugar_cambio_correa" [disabled]="shared.encabezados.cambio_correa == 0">
                <mat-hint [ngClass]="{'hidden': shared.encabezados.cambio_correa == 0}">* Campo requerido</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Próximo Mantenimiento</mat-label>
                <input matInput id="fechaProxMantInput" [matDatepicker]="picker" required class="encabezado-required" name="fec_prox_mantenimiento" [(ngModel)]="shared.encabezados.fec_prox_mantenimiento">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


        </div>
    </mat-card>
    <mat-card class="porcentajes-llantas mat-elevation-z1 c">
        <div class="title-cb-card">
            <mat-icon class="icon-title-card-peritaje">percent</mat-icon>
            <h2 class="titulo-p-llanta">Porcentaje Vida LLantas</h2>
        </div>
        <div class="bloque-cb-6">

            <div class="form-group-cb">
                <mat-form-field>
                    <mat-label>Delantera Izquierda:</mat-label>
                    <input matInput type="number" class="encabezado-llantas" placeholder="Delantera Izquierda" name="llanta_delantera_iz" [(ngModel)]="shared.encabezados.llanta_delantera_iz">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Delantera Derecha:</mat-label>
                    <input matInput type="number" class="encabezado-llantas" placeholder="Delantera derecha" name="llanta_delantera_der" [(ngModel)]="shared.encabezados.llanta_delantera_der">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Trasera Derecha:</mat-label>
                    <input matInput type="number" class="encabezado-llantas" placeholder="Trasera Derecha" name="llanta_trasera_der" [(ngModel)]="shared.encabezados.llanta_trasera_der">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Trasera Izquierda:</mat-label>
                    <input matInput type="number" class="encabezado-llantas" placeholder="Trasera Izquierda" name="llanta_trasera_iz" [(ngModel)]="shared.encabezados.llanta_trasera_iz">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Repuesto:</mat-label>
                    <input matInput type="number" class="encabezado-llantas" placeholder="Repuesto" name="llanta_repuesto" [(ngModel)]="shared.encabezados.llanta_repuesto">
                </mat-form-field>

            </div>
        </div>
    </mat-card>

</div>



<div class="footer-button">
    <button class="back-btn" mat-raised-button (click)="atras()"><mat-icon>keyboard_backspace</mat-icon>Atras</button>
    <button class="next-btn" mat-raised-button (click)="siguiente()">Siguiente<mat-icon>east</mat-icon></button>
</div>