<mat-card>

    <div class="fecha">
        <p> <strong>Fecha: </strong> 15-05-2022</p>
    </div>
</mat-card>
<mat-card class="bloque-cb-1">
    <h2>Buscar VIN o Placa</h2>
    <div class="vin-placa">
        <mat-form-field appearance="fill">
            <mat-label>VIN:</mat-label>
            <input matInput placeholder="Vin" name="vin" [(ngModel)]="vin" (blur)="onEnter()">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Placa:</mat-label>
            <input matInput placeholder="Placa" name="placa" [(ngModel)]="formularioVehiculos.placa">
        </mat-form-field>

    </div>
</mat-card>

<!-- <mat-card>

    <div class="peritajes">
        <button mat-stroked-button color="accent">14/09/2021</button> <button mat-stroked-button color="accent">14/12/2021</button> <button class="new-check-list" mat-stroked-button>Nuevo</button>
    </div>
</mat-card> -->

<mat-card class="bloque-cb-1">

    <div class="form-group-cb">

        <section class="example-section radio-options-cb rbtn-b1">
            <label class="cbradio-group-label">Calificación:</label>
            <mat-radio-group aria-label="Calificación" required name="Califica" [(ngModel)]="infoVehiculo.Califica">
                <mat-radio-button class="cb-radio-button" [value]="A">A</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="B">B</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb rbtn-b1">
            <label class="cbradio-group-label">Prueba de Ruta:</label>
            <mat-radio-group aria-label="Prueba de Ruta" required name="prueba_ruta" [(ngModel)]="formularioVehiculos.prueba_ruta">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>

        <mat-form-field appearance="fill">
            <mat-label>Hora Inicio:</mat-label>
            <input matInput type="time" placeholder="Hora Inicio" required name="fecini" [(ngModel)]="infoVehiculo.Fecini">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Hora Final:</mat-label>
            <input matInput type="time" placeholder="Hora Final" required name="fecfin" [(ngModel)]="formularioVehiculos.fecfin">
        </mat-form-field>

    </div>

    <div class="form-group-cb">


        <mat-form-field appearance="fill">
            <mat-label>Nombre Inspector:</mat-label>
            <input matInput placeholder="Nombre Inspector" name="Id_usu_inspector" value="Juan Perez" [(ngModel)]="formularioVehiculos.id_usu_inspector">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Firma Inspector:</mat-label>
            <input matInput placeholder="Firma Inspector" name="firmaInspector" value="Juan">
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Marca:</mat-label>
            <input matInput placeholder="Marca" name="marca" [(ngModel)]="formularioVehiculos.marca">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Linea:</mat-label>
            <input matInput placeholder="Linea" name="linea" [(ngModel)]="formularioVehiculos.linea">
        </mat-form-field>



    </div>

    <div class="form-group-cb">

        <mat-form-field appearance="fill">
            <mat-label>Calificación Estado:</mat-label>
            <mat-select [(ngModel)]="infoVehiculo.Califica2" name="Califica2">
                <mat-option *ngFor="let calificacion of calificaciones" [value]="calificacion.value">
                    {{calificacion.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="a">
            <mat-label>Matriculado en:</mat-label>
            <input matInput placeholder="Lugar Matricula" name="lugar_matricula" value="Bogotá" [(ngModel)]="formularioVehiculos.lugar_matricula">
        </mat-form-field>


        <mat-form-field appearance="fill" class="b">
            <mat-label>Capacidad Sillas:</mat-label>
            <input matInput placeholder="Capacidad sillas" name="capacidad_sillas" value="5" [(ngModel)]="formularioVehiculos.capacidad_sillas">
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Cilindraje:</mat-label>
            <input matInput placeholder="Cilindraje" name="cilindraje" [(ngModel)]="formularioVehiculos.cilindraje">
        </mat-form-field>
    </div>
    <div class="form-group-cb">
        <mat-form-field appearance="fill">
            <mat-label>Color:</mat-label>
            <input matInput placeholder="Color" name="color" [(ngModel)]="formularioVehiculos.color">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Referencia:</mat-label>
            <input matInput placeholder="Referencia" name="referencia" [(ngModel)]="formularioVehiculos.referencia">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Modelo:</mat-label>
            <input matInput placeholder="Modelo" name="modelo" [(ngModel)]="formularioVehiculos.modelo">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Combustible:</mat-label>
            <mat-select name="combustible" [(ngModel)]="formularioVehiculos.combustible">
                <mat-option *ngFor="let combustible of combustibles" [value]="combustible.value">
                    {{combustible.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-card>
<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- Tercer Bloque -->
<mat-card class="bloque-cb-3">
    <div class="radio-group-5">
        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label example-margin">Cojineria:</label>
            <mat-radio-group aria-label="Cojineria" required name="cojineria" [(ngModel)]="formularioVehiculos.cojineria">
                <mat-radio-button class="cb-radio-button" [value]="tela">Tela</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="cuero">Cuero</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb radio-options-cb">
            <label class="example-margin cbradio-group-label">Caja:</label>
            <mat-radio-group aria-label="Caja" required name="caja" [(ngModel)]="formularioVehiculos.caja">
                <mat-radio-button class="cb-radio-button" [value]="mecanica">Mecánica</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="automatica">Automática</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb">
            <label class="example-margin cbradio-group-label">Tracción:</label>
            <mat-radio-group aria-label="Tracción" required name="traccion" [(ngModel)]="formularioVehiculos.traccion">
                <mat-radio-button class="cb-radio-button" [value]="t4x2">4X2</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="t4x4">4X4</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Rin de Lujo:</label>
            <mat-radio-group aria-label="Rin de Lujo" required name="rin" [(ngModel)]="formularioVehiculos.rin">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Estribo de Lujo:</label>
            <mat-radio-group aria-label="Estribo de Lujo" required name="estribo" [(ngModel)]="formularioVehiculos.estribo">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>
    </div>

    <div class="radio-group-5">
        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Vidrio Eléctrico:</label>
            <mat-radio-group aria-label="Vidrio Eléctrico" required name="vidrios" [(ngModel)]="formularioVehiculos.vidrios">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Techo Vidrio:</label>
            <mat-radio-group aria-label="Techo Vidrio" required name="techo_vidrio" [(ngModel)]="formularioVehiculos.techo_vidrio">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Retrovisores Eléctricos:</label>
            <mat-radio-group aria-label="Retrovisores Eléctricos" required name="retrovisores_electricos" [(ngModel)]="formularioVehiculos.retrovisores_electricos">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>
        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Barras De Techo:</label>
            <mat-radio-group aria-label="Barras De Techo" required name="barra_techo" [(ngModel)]="formularioVehiculos.barra_techo">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Exploradoras:</label>
            <mat-radio-group aria-label="Exploradoras" required name="exploradora" [(ngModel)]="formularioVehiculos.exploradora">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>
    </div>
    <div class="form-group-cb">
        <mat-form-field appearance="fill">
            <mat-label>Nº de Airbag:</mat-label>
            <input matInput placeholder="Nº de Airbag" name="no_airbags" value="2" [(ngModel)]="formularioVehiculos.no_airbags">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nº de Rin:</mat-label>
            <input matInput placeholder="Nº de Rin" name="no_rin" value="4" [(ngModel)]="formularioVehiculos.no_rin">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Kilometraje Actual:</mat-label>
            <input matInput placeholder="Kilometraje Actual" name="km" value="200" [(ngModel)]="formularioVehiculos.km">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Próximo Mantenimiento</mat-label>
            <input matInput [matDatepicker]="picker" required name="fec_prox_mantenimiento" [(ngModel)]="formularioVehiculos.fec_prox_mantenimiento">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</mat-card>

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- Cuarto Bloque  -->
<mat-card class="bloque-cb-4 radio-btn-cb">
    <div class="radio-group-6">
        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Repuesto Llaves:</label>
            <mat-radio-group aria-label="Repuesto Llaves" required name="llave" [(ngModel)]="formularioVehiculos.llave">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Libro Garantía:</label>
            <mat-radio-group aria-label="Libro Garantía" required name="libro" [(ngModel)]="formularioVehiculos.libro">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>



        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Herramienta Completa:</label>
            <mat-radio-group aria-label="Herramienta Completa" required name="herramienta" [(ngModel)]="formularioVehiculos.herramienta">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Manuales:</label>
            <mat-radio-group aria-label="Manuales" required name="manual" [(ngModel)]="formularioVehiculos.manual">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Reclamos Aseguradora:</label>
            <mat-radio-group aria-label="Reclamos Aseguradora" required name="reclamo_aseg" [(ngModel)]="formularioVehiculos.reclamo_aseg">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section radio-options-cb">
            <label class="cbradio-group-label">Cambio Correo:</label>
            <mat-radio-group aria-label="Tiene Cambio Correo" required name="cambio_correa" [(ngModel)]="formularioVehiculos.cambio_correa">
                <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
            </mat-radio-group>
        </section>
    </div>

    <div class="form-group-cb">
        <mat-form-field appearance="fill">
            <mat-label>Lugar Cambio Correa:</mat-label>
            <input matInput placeholder="Donde Cambio Correa:" name="lugar_cambio_correa" value="Bogotá" [(ngModel)]="formularioVehiculos.lugar_cambio_correa">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Valor Reclamo:</mat-label>
            <input matInput placeholder="Valor Reclamo" name="valor_reclamo_aseg" value="50000" [(ngModel)]="formularioVehiculos.valor_reclamo_aseg">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Marca Radio:</mat-label>
            <input matInput placeholder="Marca Radio" name="marca_radio" value="Panasonic" [(ngModel)]="formularioVehiculos.marca_radio">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Marca Llantas:</mat-label>
            <input matInput placeholder="Marca Llantas" name="marca_llantas" value="Goodyeard" [(ngModel)]="formularioVehiculos.marca_llantas">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Marca Batería:</mat-label>
            <input matInput placeholder="Marca Batería" name="marca_bateria" value="Mat" [(ngModel)]="formularioVehiculos.marca_bateria">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Lugar Mantenimiento:</mat-label>
            <input matInput placeholder="Lugar Mantenimiento" name="lugar_mante" value="Medellin" [(ngModel)]="formularioVehiculos.lugar_mante">
        </mat-form-field>
    </div>
</mat-card>
<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->


<mat-card>
    <h2>Parametrización de partes vehículo</h2>
    <button mat-button (click)="openModalCrudMaestros('partes')" class="btn-form-cb">Modificar</button>
</mat-card>

<!-- Estado Pintura  -->
<h2 class="title-bloques-cb">Estado Pintura</h2>
<mat-card class="bloque-cb-5 estado_pintura" *ngIf="listaPartes.length > 0">

    <!-- *ngFor="let estado of data.estadosPintura" -->
    <div class="estados-pintura-container">
        <mat-card class="group-radio-options-cb estado-pintura-container" *ngFor="let estadoPintura of listaPartes">
            <label class="cbradio-label-parametrizado">{{estadoPintura.parte}}</label>
            <section class="example-section radio-options-cb">
                <mat-radio-group required name="repi_tipo" [(ngModel)]="estadoPintura.repi_tipo">
                    <mat-radio-button class="cb-radio-button rbtn-first" [value]="repiTipoA">Repi TIP A </mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="repiTipoB">Repi TIP B </mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="example-section radio-options-cb">
                <mat-radio-group required name="repar_tipo" [(ngModel)]="estadoPintura.repar_tipo">
                    <mat-radio-button class="cb-radio-button rbtn-first" [value]="reparTipoA">Repar TIP A </mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="reparTipoB">Repar TIP B </mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="example-section radio-options-cb">
                <mat-radio-group required name="estado_parte" [(ngModel)]="estadoPintura.estadoParte">
                    <mat-radio-button class="cb-radio-button rbtn-first" [value]="cambiado">Cambiado </mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="removido">Removido </mat-radio-button>
                </mat-radio-group>
            </section>
        </mat-card>
    </div>

</mat-card>
<!-- :::::::::::::::::::::::::::::::::::::::::: -->

<mat-card>
    <h2>Parametrización de elementos A - Z</h2>
    <button mat-button (click)="openModalCrudMaestros('elementos')" class="btn-form-cb">Modificar</button>
</mat-card>
<!-- Elemento A-Z -->
<h2 class="title-bloques-cb">Elementos A - Z</h2>
<mat-card class="bloque-cb-7 elementos-az" *ngIf="listaElementos.length > 0">
    <section class="example-section radio-options-cb" *ngFor="let elementoAz of listaElementos">
        <div style="width: 100%">
            <label class="item-label cbradio-label-parametrizado">{{elementoAz.elemento}}</label>
            <button mat-icon-button matTooltipPosition="above" matTooltip="Ocultar elemento" class="item-button"><mat-icon class="m-icon-cb">remove_red_eye</mat-icon></button>
        </div>
        <div *ngIf="elementoAz.valor_def == 1">
            <section>
                <mat-checkbox required class="example-margin" [(ngModel)]="elementoAz.est">Malo</mat-checkbox>
            </section>
        </div>
        <div *ngIf="elementoAz.valor_def == 2">
            <mat-radio-group required name="{{elementoAz.elemento}}" [(ngModel)]="elementoAz.est">
                <mat-radio-button class="cb-radio-button" [value]="2">Leve</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="3">Fuerte</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="elementoAz.valor_def == 3">
            <mat-radio-group required name="{{elementoAz.elemento}}" [(ngModel)]="elementoAz.est">
                <mat-radio-button class="cb-radio-button" [value]="4">OK</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="5">Bajo</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="elementoAz.valor_def == 4">
            <mat-radio-group required name="{{elementoAz.elemento}}" [(ngModel)]="elementoAz.est">
                <mat-radio-button class="cb-radio-button" [value]="7">Si</mat-radio-button>
                <mat-radio-button class="cb-radio-button" [value]="6">No</mat-radio-button>
            </mat-radio-group>
        </div>
    </section>
</mat-card>

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<!-- Porcentaje Llantas -->

<mat-card class="porcentajes-llantas">
    <h3 class="titulo-p-llanta">Porcentaje Vida LLantas(%)</h3>
    <div class="bloque-cb-6">

        <div class="form-group-cb">
            <mat-form-field appearance="fill">
                <mat-label>Delantera Izquierda:</mat-label>
                <input matInput placeholder="Delantera Izquierda" name="vida_llanta_del_izq" value="20">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Delantera Derecha:</mat-label>
                <input matInput placeholder="Delantera derecha" name="vida_llanta_del_der" value="50">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Trasera Derecha:</mat-label>
                <input matInput placeholder="Trasera Derecha" name="vida_llanta_tras_der" value="50">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Trasera Izquierda:</mat-label>
                <input matInput placeholder="Trasera Izquierda" name="vida_llanta_tras_izq" value="50">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Repuesto:</mat-label>
                <input matInput placeholder="Repuesto" name="vida_llanta_repuesto" value="50">
            </mat-form-field>

        </div>
    </div>
</mat-card>
<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<!-- Campos material dinamicos -->
<mat-card>
    <h2>Añadir Elemento para Intervención</h2>
    <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="idElementoIntervencion">
            <mat-option [value]="0">-- Selecione una opción --</mat-option>
            <mat-option *ngFor="let elementoAZ of listaElementos" [value]="elementoAZ.id_chk_maestro_elementos">
                {{elementoAZ.elemento}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="agregarIntervencion()">Agregar&nbsp;<mat-icon>add</mat-icon></button>
    <h2>Elementos que requieren Intervención</h2>
    <div *ngFor="let elementoAZ of listaElementos">
        <div *ngIf="elementoAZ.intervencion == 1">
            <mat-form-field appearance="fill">
                <input matInput [value]="elementoAZ.elemento" disabled/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <label>Valor Aprox.</label>
                <input matInput [(ngModel)]="elementoAZ.valor" (blur)="prueba()" />
            </mat-form-field>
            <button mat-button (click)="elementoAZ.intervencion = 0"><mat-icon>close</mat-icon></button>
        </div>
    </div>
</mat-card>
<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->