$main-color: #b50411;
mat-card {
    margin-bottom: 1.2em;
}

mat-card.bloque-cb-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

mat-card.bloque-cb-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

mat-card.bloque-cb-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.bloque-cb-6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.radio-group-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    section {
        margin-bottom: 1.2em;
    }
}

.radio-group-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    section {
        margin-bottom: 1.2em;
    }
}

mat-card.bloque-cb-4 {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: center;
    flex-direction: column;
}

mat-card.bloque-cb-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

mat-card.bloque-cb-7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.group-radio-options-cb {
    margin-bottom: 1.2em;
}

.example-margin,
.cbradio-group-label {
    margin: 0 10px;
}

.group-radio-options-cb mat-radio-group.mat-radio-group {
    margin-bottom: 0.5em;
}

.elementos-az section.example-section.radio-options-cb.ng-star-inserted {
    margin-bottom: 1.2em;
    border-bottom: solid 2px #cecece;
    padding: 5px 0 8px 8px;
}

.group-radio-options-cb {
    margin-bottom: 1.2em;
}

.group-radio-options-cb mat-radio-group.mat-radio-group {
    margin-bottom: 0.5em;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.example-margin,
.cbradio-group-label {
    // margin: 0 10px;
    margin: 5px 0;
}

.radio-options-cb {
    display: flex;
    flex-direction: column;
    min-width: 15em;
}

mat-card {
    margin: 0.6em 1.5em;
}

.fecha p {
    margin: 0;
}

section.rbtn-b1 {
    margin-left: 2em;
    min-width: 9em;
    margin-top: -5px;
    width: 180px;
}

.form-group-cb {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group-cb-b {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-form-cb {
    background: $main-color;
    color: white;
    margin-left: 1.2em;
}

.btn-form-cb-icon {
    background: #fff;
    color: $main-color;
    // margin-left: 1.2em;
}

mat-icon.m-icon-cb {
    height: 25px;
    width: 25px;
    font-size: 15px;
}

.mat-tooltip {
    font-size: 14px;
}

.group-btn-cb-ico {
    display: flex;
    justify-content: space-between;
}

.group-btn-cb {
    display: flex;
    justify-content: end;
    .btn-form-cb {
        height: 30px;
        width: 30px;
        background: #fefefe;
        color: $main-color;
        border: solid 1px;
    }
}

.btn-cb-interv {
    color: $main-color;
    font-size: 18px;
}

.mat-fab:not([class*=mat-elevation-z]),
.mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: 0px 1px 3px -1px rgb(0 0 0 / 14%), 0px 2px 3px 0px rgb(0 0 0 / 14%), 0px 1px 6px 0px rgb(0 0 0 / 12%);
}

.rbtn-first {
    width: 105px;
}

.mat-radio-button~.mat-radio-button {
    margin-right: 4px;
}

.title-bloques-cb {
    margin-left: 35px;
    margin-top: 1.2em;
}

.estados-pintura-container {
    display: flex;
    flex-wrap: wrap;
}

.estado-pintura-container {
    margin: 10px;
}

.add-fields {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    button {
        color: $main-color;
        font-size: 18px;
    }
}

.new-check-list {
    border: solid 1px #8BC34A;
    color: #8BC34A
}

.peritajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    button {
        margin: 0.6em 0;
    }
}

.vin-placa {
    display: flex;
    flex-wrap: wrap;
    mat-form-field {
        margin-right: 1.2em;
    }
}

.porcentaje-llanta {
    display: flex;
    justify-content: space-around;
}

.grid-container {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: [col1-start] 49% [col2-start] 49%;
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row5-start] auto [row5-end];
    height: 100%;
    width: 100%;
}

.cbradio-label-parametrizado {
    display: block;
    margin: 0.6em 0;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: $main-color;
}

.a {
    grid-column: col1-start;
    grid-row: row1-start;
}

.b {
    grid-column: col2-start;
    grid-row: row1-start;
}

@media(max-width: 520px) {
    .form-group-cb,
    .form-group-cb-b {
        display: flex;
        flex-direction: column;
    }
    .a {
        grid-column: col1-start / col2-end;
        grid-row: row1-start;
    }
    .b {
        grid-column: col1-start / col2-end;
        grid-row: row2-start;
    }
}

.item-button {
    float: right;
}

.item-label {
    float: left;
}