$main-color: #b50411;
table {
    margin: 0;
    padding: 0;
    width: 95%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

mat-card.tabla-partes {
    margin: 1em 2em;
}

mat-card.bloque-cb-5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1em 2em;
}

.title-card-pritaje {
    display: flex;
    margin: 0 0 1.2em 1.2em;
    align-items: center;
    h2 {
        margin-bottom: -3px;
        font-size: 18px;
        text-transform: uppercase;
    }
    .icon-title-card-peritaje {
        color: $main-color;
        margin-right: 0.5em;
    }
}

table.table-form-peritaje tr {
    height: auto;
}

table.table-form-peritaje td {
    height: 6em;
    border-bottom-color: #e3e3e3;
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

table tr td.sections-td {
    width: 20em;
    text-align: justify;
}

td.label-td {
    width: 25em;
    text-align: center;
}

td.td-select {
    width: 15em;
    text-align: center;
}

td.td-select mat-form-field {
    margin-left: 2em;
}

section.example-section.radio-options-cb {
    margin-bottom: 0.3em;
}

div.scroll-table {
    overflow: auto;
    overflow-y: hidden;
}

.label-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    mat-form-field.select-estado {
        max-width: 160px;
    }
}

label.cbradio-label-parametrizado {
    text-decoration: underline;
    font-size: 15px;
    text-decoration-color: #b50411;
}

.group-radio-options-cb {
    margin-bottom: 1.2em;
}

.group-radio-options-cb mat-radio-group {
    margin-bottom: 0.5em;
}

.footer-button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 0;
    button {
        background-color: $main-color;
        color: #fff;
        padding: 0 0.6em;
    }
    .back-btn mat-icon {
        margin-right: 0.3em;
    }
    .next-btn mat-icon {
        margin-left: 0.3em;
    }
}

.rbtn-first {
    min-width: 110px;
}